
/* Your CSS Code here. */
.holder {
  display: flex;         
  justify-content: space-evenly;   
flex:wrap;	
}

.item {
   width: 100px;            
  height: 100px;
  background-color: lightblue;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  border: 1px solid #000; 
}
